@model NewsListingModel
@{
    ViewData["Title"] = "AdminListing";
    Layout = "_AdminLayout_Two";
}

<h2>AdminListing</h2>

<div class="content-wrapper">
    <div class="container-fluid">
        @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
        {
            <div class="alert alert-success">
                @TempData[WebConstants.TempDataSuccessMessageKey]
            </div>
        }
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Customers
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table  table-striped table-dark" id="dataTable" cellspacing="0">
                  
                        <br />
                        <br />
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Publish date</th>
                                <th scope="col">Author</th>
                               

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Publish date</th>
                                <th scope="col">Author</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var article in Model.Articles)
                            {
                                <tr scope="row">
                                    <td><a asp-controller="News" asp-action="DeletingOrUpdatingArticle" asp-route-id="@article.Id">@article.Title</a></td>
                                    <td>@article.PublishDate </td>
                                    <td>@article.Author</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>