@model ArticleWithCommetsModel
@{
    ViewData["Title"] = Model.ArticleDetails.Title;
}

<h2>@ViewData["Title"]</h2>

<h4><em>published by @Model.ArticleDetails.Author on @Model.ArticleDetails.PublishDate.ToShortDateString()</em></h4>
@if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
{
    <div class="alert alert-danger">
        @TempData[WebConstants.TempDataErrorMessageKey]
    </div>
}
<div>
    @Html.Raw(Model.ArticleDetails.Content)
</div>


<hr/>


<h4>Comments</h4>
<form method="post" asp-action="Details" >
    <div>
       @Html.TextArea("content", htmlAttributes: new {@id="comments",@style = "width: 450px;height: 150px", @placeholder = "Enter Comments here" })
    </div>
    <input type="hidden" name="ArticleId" value="@Model.ArticleDetails.Id"/>
    <input type="submit" value="Submit">
</form>

@if (User.IsInRole(WebConstants.AdministratorRole) || User.IsInRole(WebConstants.ModeratorRole))
{

    <div class="card">

        <hr style="border-color: black"/>
        <h5>Comment section</h5>
        @foreach (var comment in Model.Comments)
        {
            <hr style="border-color: black" class="card"/>
            <h6><em>published by @comment.Author on @comment.PublishDate.ToShortDateString()</em></h6>
            <div>
                @Html.Raw(comment.Content)
            </div>
            <div>
                <input type="hidden" name="CommentId" value="@comment.Id"/>
                <input type="hidden" name="ArticleId" value="@Model.ArticleDetails.Id"/>
                <a asp-controller="News" asp-action="DeleteComment" asp-route-commentId="@comment.Id" asp-route-articleId="@Model.ArticleDetails.Id"  class="btn btn-danger">
                    Delete
                </a>
            </div>
            <hr style="border-color: black" class="card"/>
        }
    </div>
}
else
{

    <div class="card">

        <hr style="border-color: black"/>
        <h5>Comment section</h5>
        @foreach (var comment in Model.Comments)
        {
            <hr style="border-color: black" class="card"/>
            <h6><em>published by @comment.Author on @comment.PublishDate.ToShortDateString()</em></h6>
            <div>
                @Html.Raw(comment.Content)
            </div>
            <hr style="border-color: black" class="card"/>
        }
    </div>
}